@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    z-index: inherit;
}

body {
    overflow-x: hidden;
    background-color: black;
    max-width: 100%;
}

.hero {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2em;
    width: 100%;
    user-select: none;
    text-wrap: nowrap;
    z-index: 10;
}

.hero h1 {
    font-size: calc(50px + 2vw);
    line-height: 1em;
    width: 100%;
}

.hero .wrap {
    width: 100%;
    margin: 100px;
    margin-bottom: 0;
}

/* TRIANGLES*/

@keyframes infinite-scroll {
    from {
      transform: rotate(15deg) translateX(0px);
    }
  
    to {
      transform: rotate(15deg) translateX(-100px);
    }
  }

.triangles {
    position: absolute;
    top: -100%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: url('Untitled.svg');
    background-size: 100px;
    opacity: .075;
    animation: 8s infinite infinite-scroll;
     animation-timing-function: linear;
     z-index: -1;
}

/* Vignette Background */

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(0, 87, 49),
                rgb(0,0,0));
    z-index: -1;
    overflow-x: hidden;
}

/* SECTIONS*/

section {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 100%;
}

/* WEEK ONE */

.w1 h2 {
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, .5);
    font-size: calc(20px + 2vw);
    line-height: 1.25em;
    font-style: italic;
}

section h1 {
    font-size: calc(30px + 3vw);
}

.w1 table tr th {
    color: rgba(255,255,255, .25);
}

.w1 table tr p {
    font-style: italic;
    font-weight: 800;
    color: rgba(255, 255, 255, .25);
}

/* BACKGROUND */
.content {
    background-color: rgb(10,10,10);
}

.content h1 {
    line-height: 1em;
    text-align: center;
    font-size: calc(30px + 4vw);
}

/* GRADIENT */
.gradient {
    height: 100px;
    width: 100%;
    z-index: 100;
    background: rgb(10,10,10);
    background: linear-gradient(180deg, rgba(10,10,10,0) 0%, rgba(10,10,10,1) 100%);
}

.background {
    overflow-x: hidden;
}

/* CHALLENGES */

.challenges {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50vh;
}

.challenges .inner {
    margin: auto;
    max-width: 1000px;
}

.challenges .inner .lists{
    display: flex;
    justify-content: center;
    margin: auto;
}

.challenges h3 {
    font-size: calc(20px + 2vw);
    text-align: center;
}

.challenges .lists div {
    width: 50%;

}

.challenges .lists div p {
    padding: 10px;
}

.challenges ol {
    list-style: none;
    width: 100%;
}

.challenges p {
    float: left;
    text-align: left;
}

.challenges li {
    margin: 0 10px 0 10px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px;
}

.challenges li h3 {
    margin: 10px;
    color: rgba(255, 255, 255, .75);
    font-style: italic;
    margin-left: auto;
}

.challenges .l {
    background: rgb(251,160,51);
    background: radial-gradient(circle, rgba(251,160,51,1) 0%, rgba(254,93,18,1) 100%);
}

.challenges .r {
    background: rgb(32,232,243);
    color: black;
    background: radial-gradient(circle, rgba(32,232,243,1) 0%, rgba(5,83,162,1) 100%);
}

.challenges .c {
    color: black;
    background: rgb(209,249,91);
    background: radial-gradient(circle, rgba(209,249,91,1) 0%, rgba(33,156,20,1) 100%, rgba(254,93,18,1) 100%);
}

@media screen and (max-width: 500px) {
    .challenges .inner .lists{
        display: block;
       
    }

    .challenges .lists div {
        width: 100%;
    }
}